.links {
  text-decoration: none;
  margin-right: 14px;
  color: black;
  font-size: 15px;
  padding: 12px;
  float: right;
}
.menulink {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.olximage {
  width: 40px;
  height: auto;
}
.cardposition {
  float: left;
  width: 330px;
  height: 300px;
  margin: 10px 3px;
}
